.bg-contato {
    background-color: $color-gray;
}

.box-faleconosco {
    padding-right: 10%;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
        padding-right: 0;
    }

    .sub-tit {
        margin-top: -40px;
        color: $color-dark-blue;
        font-weight: 300;

        @include media-breakpoint-down(md) {
            margin-top: 0;
        }
    }

    p {
        margin-top: 30px;
    }
}

.btn {
    background-color: $color-white;
    border: 1px solid $color-dark-gray;
}

.form-control {
    margin-bottom: 10px;
}

input[type=text]:focus,
textarea:focus {
    border: 1px solid $color-beige;
    box-shadow: 0 0 5px rgb(240, 231, 214);
}

input[type=email]:focus,
textarea:focus {
    border: 1px solid $color-beige;
    box-shadow: 0 0 5px rgb(240, 231, 214);
}

textarea[type=textarea]:focus,
textarea:focus {
    border: 1px solid $color-beige;
    box-shadow: 0 0 5px rgb(240, 231, 214);
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: rgb(197, 19, 19) !important;
    background-image: none !important;
}



input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: $color-beige;
    border: 1px solid $color-beige;
}