*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6;
}

p {
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

h3 {
  color: #F0E7D6;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0 5%;
  max-width: 1200px;
}

.space {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 575.98px) {
  .space {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.split {
  background-color: #243447;
  border-radius: 10px;
  height: 5px;
  width: 100px;
}

.top-social {
  background-color: #F0E7D6;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-social .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
}

.social-icons {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-icons img {
  width: 15px;
}

.logo {
  width: 200px;
}

.top-menu {
  padding: 30px 0;
}

.top-menu .navbar {
  padding: 0;
}

.top-menu .navbar .nav-link {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.top-menu .navbar a {
  color: #948569;
  font-size: 100%;
}

.hero-section {
  height: 80vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero H1 {
  font-size: 4rem;
  font-family: "DM Serif Text", serif;
  color: #fff;
}

.hero-section .hero H2 {
  font-size: 1.3rem;
  font-family: "DM Serif Text", serif;
  color: #fff;
}

.box-sobre {
  padding-left: 15%;
}

@media (max-width: 991.98px) {
  .box-sobre {
    padding-left: 0;
  }
}

.box-sobre .txt {
  margin-top: 30px;
}

.box-sobre .sub-tit {
  margin-top: -40px;
  color: #243447;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  .box-sobre .sub-tit {
    margin-top: 30px;
  }
}

.bg-atuacao {
  background-color: #F0E7D6;
}

.box-atuacao {
  padding-right: 15%;
  margin-bottom: 40px;
}

.box-atuacao .sub-tit {
  margin-top: -40px;
  color: #243447;
  font-weight: 300;
}

.box-atuacao .txt {
  margin-top: 30px;
}

@media (max-width: 991.98px) {
  .box-atuacao {
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .box-atuacao .sub-tit {
    margin-top: 0;
  }
}

.box-space {
  margin-bottom: 20px;
}

.box-area {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-bottom: 30px;
  min-height: 240px;
  padding: 25px;
  width: 99%;
}

.box-area img {
  width: 50%;
}

.box-area h3 {
  color: #000;
  margin-top: 30px;
  text-align: right;
}

.box-area h3 :hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 991.98px) {
  .box-area {
    margin: 0 auto;
    min-height: 180px;
    padding: 20px;
  }
  .box-area h3 {
    margin-top: 0;
    font-size: 110%;
  }
}

@media (max-width: 767.98px) {
  .box-area {
    min-height: 220px;
  }
  .box-area h3 {
    font-size: 120%;
  }
}

@media (max-width: 575.98px) {
  .box-area {
    width: 80%;
  }
}

.box-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .box-adv {
    margin: 0 auto 20px;
  }
}

@media (max-width: 767.98px) {
  .box-adv {
    width: 90%;
  }
}

@media (max-width: 575.98px) {
  .box-adv {
    width: 80%;
  }
}

.box-adv h3 {
  color: #000;
  font-weight: 500;
  font-size: 110%;
  margin-top: 10px;
  text-align: center;
}

.box-adv p {
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
}

.bg-contato {
  background-color: #f0f0f0;
}

.btn {
  background-color: #fff;
  border: 1px solid #ced4da;
}

.form-control {
  margin-bottom: 10px;
}

input[type=text]:focus,
textarea:focus {
  border: 1px solid #F0E7D6;
  -webkit-box-shadow: 0 0 5px #f0e7d6;
          box-shadow: 0 0 5px #f0e7d6;
}

input[type=email]:focus,
textarea:focus {
  border: 1px solid #F0E7D6;
  -webkit-box-shadow: 0 0 5px #f0e7d6;
          box-shadow: 0 0 5px #f0e7d6;
}

textarea[type=textarea]:focus,
textarea:focus {
  border: 1px solid #F0E7D6;
  -webkit-box-shadow: 0 0 5px #f0e7d6;
          box-shadow: 0 0 5px #f0e7d6;
}

input:-internal-autofill-selected {
  -webkit-appearance: menulist-button;
  background-color: #c51313 !important;
  background-image: none !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F0E7D6;
  border: 1px solid #F0E7D6;
}

.bg-footer {
  background-color: #243447;
  padding: 40px 0;
}

.logo-n {
  width: 200px;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .logo-n {
    width: 180px;
  }
}

@media (max-width: 575.98px) {
  .logo-n {
    margin: 0 auto;
  }
}

.split-footer {
  background-color: #697c94;
  border-radius: 10px;
  height: 2px;
  width: 80px;
}

@media (max-width: 575.98px) {
  .split-footer {
    margin: 0 auto;
  }
}

.info-footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .info-footer {
    width: 260px;
  }
}

@media (max-width: 575.98px) {
  .info-footer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.info-footer h4 {
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  margin-bottom: .5rem;
}

.info-footer p {
  color: #fff;
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: .8rem;
  line-height: 1.4;
}

.social-icons-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

@media (max-width: 575.98px) {
  .social-icons-f {
    margin-left: auto;
    margin-right: auto;
  }
}

.social-icons-f img {
  width: 15px;
}

.social-icons-f .icons {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .social-icons-f .icons {
    margin: 0 auto;
  }
}

.sitemap {
  margin-left: auto;
}

.sitemap .map {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .sitemap .map {
    margin-top: 30px;
    width: 260px;
  }
}

@media (max-width: 575.98px) {
  .sitemap .map {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.sitemap h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.sitemap ul {
  margin-top: .5rem;
  margin-bottom: 0rem;
}

.sitemap li {
  list-style-type: none;
  color: #fff;
}

.sitemap .nav-link {
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  font-size: .8rem;
}

.sitemap .nav-link:focus,
.sitemap .nav-link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */